html { left top repeat; margin:0; padding:0; }
body { margin:0; padding:0; font-family:'Trebuchet MS';font-size:18px}
    
    
a { text-decoration:none;color:rgb(23,102,102)}
a:hover { text-decoration:underline;color:rgb(23,102,102)}
a:focus { text-decoration:underline;color:rgb(23,102,102)}
a:active { text-decoration:underline;color:rgb(23,102,102)}

.content { margin-top:20px; font-size:18px; }


.folder {
    width:100%;
    float:left;
}
.txt {
    width:100%;
    float:left;
}
.nav {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.nav1 {
padding-right: 12px;
margin: 0px -12px 0px 12px;
}
